version: "3.7"
services:
  mongo:
    image: mongo
    restart: always
    env_file:
      - ".env"
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    volumes:
      - ".docker/mongodata:/data/db:z"

  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile
    expose:
      - "5000"
    links:
      - mongo
    depends_on:
      - mongo
    volumes:
      - "./api:/app:z"
    command: npm run dev-server

  frontend:
    build:
      context: ./frontend
      dockerfile: ./Dockerfile
    expose:
      - "4200"
    links:
      - api
    depends_on:
      - api
    volumes:
      - "./frontend:/home/node/app:z"

  nginx:
    image: nginx:latest
    volumes:
      - "./.docker/nginx/nginx.conf:/etc/nginx/nginx.conf:z"
      - "./.ssl/:/etc/nginx/ssl/:z"
    depends_on:
      - api
    ports:
      - "80:80"
      - "443:443"
    links:
      - api
      - frontend

networks:
  default:
    driver: bridge
    ipam:
      config:
        - subnet: 172.16.2.0/24
